.text-editor {
  .tiptap {
    outline: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    min-height: 400px;

    ::selection {
      background-color: #bcd3eb;
    }

    p {
      margin: 0;
    }

    img {
      display: block;
      height: auto;
      margin: 1.5rem 0;
      max-width: 100%;

      &.ProseMirror-selectednode {
        outline: 3px solid var(--purple);
      }
    }

    [data-type="taskList"] {
      li {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
